<nav class="navbar navbar-on-scroll fixed-top shadow-sm navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
  <%= link_to root_path, class: 'navbar-brand d-block d-lg-none' do %>
    <h1 class="font-secondary text-white mb-n2">Michal <span class="text-primary">&</span> Sisa</h1>
  <% end %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto py-0">
      <a href="#home" class="nav-item nav-link active">Home</a>
      <a href="#about" class="nav-item nav-link">About</a>
      <a href="#story" class="nav-item nav-link">Story</a>
<!--      <a href="#gallery" class="nav-item nav-link">Gallery</a>-->
    </div>
    <%= link_to root_path, class: 'navbar-brand mx-5 d-none d-lg-block' do %>
      <h1 class="font-secondary text-white mb-n2">Michal <span class="text-primary">&</span> Sisa</h1>
    <% end %>
    <div class="navbar-nav mr-auto py-0">
      <a href="#event" class="nav-item nav-link">Event</a>
      <a href="#family" class="nav-item nav-link">Family</a>
      <a href="#rsvp" class="nav-item nav-link">RSVP</a>
      <a href="#contact" class="nav-item nav-link">Contact</a>
    </div>
  </div>
</nav>
