<nav class="navbar navbar-on-scroll fixed-top shadow-sm navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
  <%= link_to root_path, class: 'navbar-brand d-block d-lg-none' do %>
    <h1 class="font-secondary text-white mb-n2">Michal <span class="text-primary">&</span> Silvia</h1>
  <% end %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto py-0">
<!--      <a href="#home" class="nav-item nav-link active">Domov</a>-->
      <a href="#about" class="nav-item nav-link">Kto sme</a>
      <a href="#story" class="nav-item nav-link">Náš príbeh</a>
<!--      <a href="#gallery" class="nav-item nav-link">Gallery</a>-->
    </div>
    <%= link_to root_path, class: 'navbar-brand mx-5 d-none d-lg-block' do %>
      <h1 class="font-secondary text-white mb-n2">Michal <span class="text-primary">&</span> Silvia</h1>
    <% end %>
    <div class="navbar-nav mr-auto py-0">
      <a href="#event" class="nav-item nav-link">Svadba</a>
<!--      <a href="#family" class="nav-item nav-link">Family</a>-->
<!--      <a href="#rsvp" class="nav-item nav-link">RSVP</a>-->
      <a href="#contact" class="nav-item nav-link">Kontakt</a>
      <% if current_user&.is_manager? %>
        <%= link_to 'Pozvánky', manager_invitations_path, class: 'nav-item nav-link' %>
      <% end %>
    </div>
  </div>
</nav>
