<div class="container-fluid py-5" id="about">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Niečo o nás...</h6>
      <h1 class="font-secondary display-4">Ženích a Nevesta</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row m-0 mb-4 mb-md-0 pb-2 pb-md-0">
      <div class="col-md-6 p-0 text-center text-md-right">
        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
          <h3 class="mb-3">Ženích</h3>
          <p>Vítam vás na našej svadobnej stránke! Som Michal Bihary, pochádzam z Topoľčian a som šťastný, že sa pripravujem na životnú cestu so svojou nádhernou snúbenicou. Verím v lásku, humor a spoločné budovanie spomienok. Teším sa na náš spoločný život a na to, že budem tvojím manželom. Ďakujem vám, že ste s nami na tejto úžasnej púti!</p>
          <h3 class="font-secondary font-weight-normal text-muted mb-3"><i class="fa fa-male text-primary pr-3"></i>Michal</h3>
<!--          <div class="position-relative">-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-md-6 p-0" style="min-height: 400px;">
        <%= image_tag 'section2/v2/2.jpg', class: 'position-absolute w-100 h-100', style: 'object-fit: cover;' %>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-6 p-0" style="min-height: 400px;">
        <%= image_tag 'section2/v2/1.jpg', class: 'position-absolute w-100 h-100', style: 'object-fit: cover;' %>
      </div>
      <div class="col-md-6 p-0 text-center text-md-left">
        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
          <h3 class="mb-3">Nevesta</h3>
          <p>Vítam našich drahých hostí na našej svadobnej stránke! Som Silvia Ticonova, rodená Topoľčianka a s radosťou sa pripravujem na tento špeciálny deň s mojím úžasným snúbencom. S láskou v srdci a úsmevom na tvári sa teším na spoločné budovanie života plného lásky, porozumenia a dobrodružstiev. Ďakujeme vám, že nám budete spoločnosťou na začiatku našej novej kapitoly!</p>
          <h3 class="font-secondary font-weight-normal text-muted mb-3"><i class="fa fa-female text-primary pr-3"></i>Sisa</h3>
<!--          <div class="position-relative">-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-instagram"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
