<div class="container-fluid py-5" id="about">
  <div class="container py-5">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Niečo o nás...</h6>
      <h1 class="font-secondary display-4">Ženích a Nevesta</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="row m-0 mb-4 mb-md-0 pb-2 pb-md-0">
      <div class="col-md-6 p-0 text-center text-md-right">
        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
          <h3 class="mb-3">Ženích</h3>
          <p>Milá naša rodina, priatelia a známi! Vítam Vás na našej svadobnej stránke! So Silviou sme vyrastali v Topoľčanoch, kde sme sa aj spoznali vďaka našim úžasným priateľom. Svoj spoločný život sme však začali budovať v Bratislave, kde obaja pracujeme a kde sme si vytvorili náš spoločný domov. Odvtedy ruka v ruke kráčame životom a užívame si všetko čo nám prináša. Ďakujem, že ste s nami na tejto úžasnej ceste!</p>
          <h3 class="font-secondary font-weight-normal text-muted mb-3"><i class="fa fa-male text-primary pr-3"></i>Michal</h3>
<!--          <div class="position-relative">-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-md-6 p-0" style="min-height: 400px;">
        <%= image_tag 'section2/2.jpg', class: 'position-absolute w-100 h-100', style: 'object-fit: cover;' %>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-6 p-0" style="min-height: 400px;">
        <%= image_tag 'section2/1.jpg', class: 'position-absolute w-100 h-100', style: 'object-fit: cover;' %>
      </div>
      <div class="col-md-6 p-0 text-center text-md-left">
        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
          <h3 class="mb-3">Nevesta</h3>
          <p>Milí naši hostia! Už odmalička kráčam v stopách mojej úžasnej maminy a nebolo to inak ani pri výbere vysokej školy a povolania. Účtovníctvo a Audit nie je zrovna ľahký odbor, no v týchto chvíľach mi vždy bol najväčšou oporou môj priateľ. Myslím, že v tých najťažších časoch sme dokázali obstáť a uvedomiť si všetko to krásne čo sme spoločne vybudovali. Ďakujem, že budete na začiatku našej novej kapitoly!</p>
          <h3 class="font-secondary font-weight-normal text-muted mb-3"><i class="fa fa-female text-primary pr-3"></i>Silvia</h3>
<!--          <div class="position-relative">-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-instagram"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--            <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
