<div class="container-fluid p-0 mb-5 pb-5" id="home">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <% 3.times do |i| %>
        <div class="carousel-item position-relative <%= 'active' if i.zero? %>" style="height: 100vh; min-height: 400px;">
          <%= image_tag "section1/#{i + 1}.jpg", class: 'position-absolute w-100 h-100', style: 'object-fit: cover;' %>
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h1 class="display-1 font-secondary text-white mt-n3 mb-md-4">Michal & Sisa</h1>
              <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
                <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">Budeme sa brať!</h3>
              </div>
              <!--            <button type="button" class="btn-play mx-auto" data-toggle="modal"-->
              <!--                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">-->
              <!--              <span></span>-->
              <!--            </button>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev justify-content-start" href="#header-carousel" data-slide="prev">
      <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
        <span class="carousel-control-prev-icon mt-3"></span>
      </div>
    </a>
    <a class="carousel-control-next justify-content-end" href="#header-carousel" data-slide="next">
      <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
        <span class="carousel-control-next-icon mt-3"></span>
      </div>
    </a>
  </div>
</div>
