<div class="container-fluid py-5" id="story">
  <div class="container pt-5 pb-3">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Story</h6>
      <h1 class="font-secondary display-4">Our Love Story</h1>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="container timeline position-relative p-0">
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <%= image_tag 'story-1.jpg', class: 'img-fluid mr-md-3' %>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 ml-md-3">
            <h4 class="mb-2">First Meet</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3">
            <h4 class="mb-2">First Date</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <%= image_tag 'story-2.jpg', class: 'img-fluid ml-md-3' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <%= image_tag 'story-3.jpg', class: 'img-fluid mr-md-3' %>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 ml-md-3">
            <h4 class="mb-2">Proposal</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center text-md-right">
          <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3">
            <h4 class="mb-2">Enagagement</h4>
            <p class="text-uppercase mb-2">01 Jan 2050</p>
            <p class="m-0">Lorem elitr magna stet rebum dolores sed. Est stet labore est lorem lorem at amet sea, eos tempor rebum, labore amet ipsum sea lorem, stet rebum eirmod amet. Kasd clita kasd stet amet est dolor elitr.</p>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-left">
          <%= image_tag 'story-4', class: 'img-fluid ml-md-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
