<div class="d-flex justify-content-center">
  <div class="invitation-form" data-controller="invitations">
    <h2 class="invitation-form__header"><%= @invitation.name %></h2>

    <%= form_with model: @invitation do |f| %>
      <%= render 'invitations/fields', form: f %>

      <div class="invitation-form__footer d-flex justify-content-center">
        <%#= link_to root_path, class: 'btn btn-outline-primary font-weight-bold m-1 py-2 px-4' do %>
<!--          &#10094;-->
        <%# end %>
        <%= f.submit 'Potvrdiť', class: 'btn btn-outline-primary font-weight-bold m-1 py-2 px-4' %>
      </div>
    <% end %>
  </div>
</div>
