.invitation-form {
  padding: 32px 24px;

  &__header {
    margin-bottom: 24px;
  }

  &__footer {
    margin-top: 48px;
  }
}

.manager-invitation {
  margin-top: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
